img{
    width: 100px;
    border-radius:50%;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: black;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;

}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
form {
    width: 60%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;

}
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;

}